body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0b0d17;
  color: white;
}

header, footer {
  text-align: center;
  padding: 20px;
  background-color: #111;
}

main {
  padding: 20px;
  text-align: center;
}

img {
  max-width: 90%;
  border-radius: 10px;
  margin: 20px 0;
}

input[type="date"] {
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}
